# Carpetas generadas automáticamente por Unity (¡NO SUBIR!)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Capturas de memoria y grabaciones (pueden ser muy pesadas)
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Directorios de caché de Visual Studio y Gradle
.vs/
.gradle/

# Archivos de solución y proyecto autogenerados (C#, Visual Studio, Rider)
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos meta generados por Unity3D para los archivos ignorados
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Archivos de reporte de crasheos
sysinfo.txt

# Compilaciones (Builds) del juego
*.apk
*.aab
*.unitypackage
*.app
*.exe
